doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    form(name="login", action="/list", method="get")
        input(type="submit", value="Show all the events")


